body {
  background-color: #D8E4FF
}

h1{ font-family: papyrus;
  color: #2E294E;
    text-align: center
}
p{ font-family: verdana;
  color: #35605A
  
}
img:hover{
  box-shadow: 0 0 4px 3px #6B818C;

  transform: rotate(2deg);
}

table{
  border: solid
}
 th{border: dashed;
   color: #31E981
}
