body {
  background-color: #D8E4FF
}

h1{ font-family: papyrus;
  color: #2E294E;
    text-align: center
}
p{ font-family: verdana;
  color: #35605A
  
}
img:hover{
  box-shadow: 0 0 4px 3px #6B818C;

  transform: rotate(2deg);
}

table{
  border: solid
}
 th{border: dashed;
   color: #31E981
}
nav{list-style-type: none;
postition: fixed;
background:#31E981;
width: 100vw;
 top: 0;
   left: 0
}
li{display: inline;
padding: 13px;
}
a{text-decoration: none;
color: #2E294E }

a:hover{
  background-color: white;
}
