body {
  background-color: #D7263D
}

h1{ font-family: papyrus;
  color: #2E294E;
    text-align: center
}
p{ font-family: verdana;
  color: #1B998B
  
}
img:hover{
  box-shadow: 0 0 4px 3px #F46036;

  transform: rotate(2deg);
}

table{
  border: solid
}
 th{border: dashed;
   color: lightblue
}
